<div class="grid-container">

  <div class="navbar">

    <div class="site-name">
      <h2><%= link_to "Sick Landing Page", "https://sick-page.herokuapp.com/", :class => "site_name_link", target: :_blank %></h2>
    </div>

    <div class="navbar-buttons">
        <%= button_to "HTML Code", "https://github.com/TheFSilver/SickLandingPage/blob/master/app/views/home/index.html.erb", :method => :get, form: {target: '_blank'}, :class => "myButton" %>
        <%= button_to "CSS Code", "https://github.com/TheFSilver/SickLandingPage/blob/master/app/assets/stylesheets/home.scss", :method => :get, form: {target: '_blank'}, :class => "myButton" %>
        <%= button_to "Images", "https://github.com/TheFSilver/SickLandingPage/tree/master/app/assets/images", :method => :get, form: {target: '_blank'}, :class => "myButton" %>
    </div>

    <div class="avatar">
      <%= link_to "François D.", "https://github.com/TheFSilver", :class => "myname", target: :_blank %>
      <%= link_to image_tag('privateinvestocat.jpg', :class => "avatar_img", :alt => "Github Cat Inspector", :title => "GitHub Profile"), "https://github.com/TheFSilver", target: :_blank %>
    </div>

  </div>

  <div class="big-title">
    <h1>Sick Front-End Services</h1>
  </div>

  <div class="content">

    <div class="image-content">
      <%= image_tag '2.jpeg', :class => "content_img" %>
    </div>

    <div class="text-content">
      <h3>Designing your website the way it should look...</h3>
      <p>The website will be designed in a unique way.<br>The website includes unique tools that can be used for marketing, sales, etc.<br>The website includes functionality that is unique to this business or area of expertise (cost savings calculator, special reference database, product design tool, etc.)</p>
    </div>

  </div>

  <div class="footer">

    <div class="gitlink">
      Repository GitHub: <%= link_to " TheFSilver", "https://github.com/TheFSilver/SickLandingPage", :class => "github_link", target: :_blank %>
    </div>

    <div class="networks">
      <%= link_to image_tag('fblogo.png', :class => "net-logo", :alt => "Black & White Facebook Logo", :title => "Facebook Profile"), "https://www.facebook.com/dasylva?ref=bookmarks", target: :_blank %>
      <%= link_to image_tag('ttlogo.jpg', :class => "net-logo", :alt => "Black & White Twitter Logo", :title => "Twitter Profile"), "https://twitter.com/TheFSilver", target: :_blank %>
      <%= link_to image_tag('inlogo.jpg', :class => "net-logo", :alt => "Black & White LinkedIn Logo", :title => "LinkedIn Profile"), "https://www.linkedin.com/in/francois-dasylva-64a300128/", target: :_blank %>
      <%= link_to image_tag('iglogo.png', :class => "net-logo", :alt => "Black & White Instagram Logo", :title => "Instagram Profile"), "https://www.instagram.com/thefsilver/", target: :_blank %>
    </div>

    <div class="copyrights">
      © 2018 TheFSilver, Inc.
    </div>

  </div>

</div>
